<!-- use base -->
{% extends "layouts/base.html" %}
<!-- head: title -->
{% block title %}KaitoType!{% endblock %}
<!-- head: metadata (with css) -->
{% block head %}
<!-- define css -->
<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
{% endblock %}

<!-- main body -->
{% block content %}
<div id="mainPage">
  <h2>Script Area</h2>
  <div id="mainOuter" class="bordered">
    <div id="scriptConfig" class="row outer">
      <div id="charOptionts" class="column left inner">
        <div id="specialOpt" class="column">
          <button class="dark">special option</button>
        </div>
        <div id="numberOpt" class="column">
          <button class="dark">number option</button>
        </div>
      </div>
      <!-- <div class="column spacer"></div> -->
      <!-- <div class="spacer leftSpacer">spacer1</div> -->
      <div id="modeOptions" class="column middle inner">
        <div id="timeOpt" class="column">
          <button class="dark">time option</button>
        </div>
        <div id="wordsOpt" class="column">
          <button class="dark">words option</button>
        </div>
        <div id="customOpt" class="column">
          <button class="dark">custom option</button>
        </div>
      </div>
      <!-- <div class="column spacer"></div> -->
      <!-- <div class="spacer rightSpacer">spacer2</div> -->
      <div id="timeOptions" class="column right inner">
        <div id="fifteenSecOpt" class="column">
          <button class="dark">15s</button>
        </div>
        <div id="thirtySecOpt" class="column">
          <button class="dark">30s</button>
        </div>
        <div id="sixtySecOpt" class="column">
          <button class="dark">60s</button>
        </div>
        <div id="oneTwentySecOpt" class="column">
          <button class="dark">120s</button>
        </div>
      </div>
    </div>
    <br>
    <div id="outerScriptArea" class="outer padded">
      <div id="innerScriptArea" class="inner">
        <!-- new -->
        <form action="/api/v2/html/check_script" method="post" hx-trigger="keyup" hx-push-url="false" hx-target="#results">
          <fieldset>
            <legend>Script Area</legend>
            <div class="table rows">
              <p id="expectedText">
                <label for="script">Script</label>
                <input name="script" id="script" type="text" placeholder="Press button to spawn script">
              </p>
              <p>
                <label for="userInput">Input</label>
                <input name="user_input" id="userInput" type="text" placeholder="Start typing..."></input>
              </p>
              <p>
                <label for="timer">Timer</label>
                <input name="elapsed_time" id="timer" type="text" placeholder="0:0:0"></input>
              </p>
            </div>
          </fieldset>
        </form>
        <button id="spawnScriptBtn" onclick="startCountUp()"
          hx-get="/api/v2/html/spawn_script"
          hx-swap="innerHtml"
          hx-target="#expectedText">
          spawn script
        </button>
        <div id="results"></div>

        <!-- old -->
        <!-- <div id="script"> -->
        <!--   <p id="expectedText"></p> -->
        <!--   <textarea id="userInput" placeholder="Start typing..." hx-post="/api/v2/html/check_script" hx-trigger="keyup"></textarea> -->
        <!--   <div id="feedback" style="color: #d1d0c5;">Correct: 0 / Total: 0</div> -->
        <!--   <button -->
        <!--     hx-get="/api/v2/html/spawn_script" -->
        <!--     hx-swap="innerHtml" -->
        <!--     hx-target="#expectedText"> -->
        <!--     spawn script -->
        <!--   </button> -->
        <!-- </div> -->

        <script src="assets/js/script.js"></script>
    </div>
  </div>
</div>
{% endblock %}

