<!-- use base -->
{% extends "layouts/base.html" %}
<!-- head: title -->
{% block title %}KaitoType!{% endblock %}
<!-- head: metadata (with css) -->
{% block head %}
<!-- define css -->
<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
{% endblock %}

<!-- main body -->
{% block content %}
<div id="mainPage">
  <h2>Script Area</h2>
  <div id="mainOuter" class="bordered">
    <div id="scriptConfig" class="row outer">
      <div id="charOptionts" class="column left inner">
        <div id="specialOpt" class="column">
          <button class="dark">special option</button>
        </div>
        <div id="numberOpt" class="column">
          <button class="dark">number option</button>
        </div>
      </div>
      <!-- <div class="column spacer"></div> -->
      <!-- <div class="spacer leftSpacer">spacer1</div> -->
      <div id="modeOptions" class="column middle inner">
        <div id="timeOpt" class="column">
          <button class="dark">time option</button>
        </div>
        <div id="wordsOpt" class="column">
          <button class="dark">words option</button>
        </div>
        <div id="customOpt" class="column">
          <button class="dark">custom option</button>
        </div>
      </div>
      <!-- <div class="column spacer"></div> -->
      <!-- <div class="spacer rightSpacer">spacer2</div> -->
      <div id="timeOptions" class="column right inner">
        <div id="fifteenSecOpt" class="column">
          <button class="dark">15s</button>
        </div>
        <div id="thirtySecOpt" class="column">
          <button class="dark">30s</button>
        </div>
        <div id="sixtySecOpt" class="column">
          <button class="dark">60s</button>
        </div>
        <div id="oneTwentySecOpt" class="column">
          <button class="dark">120s</button>
        </div>
      </div>
    </div>
    <br>
    <div id="outerScriptArea" class="outer padded">
      <div id="innerScriptArea" class="inner">
        <div id"script">
          <button
            hx-get="/spawn_script"
            hx-swap="innerHtml">
            spawn script
          </button>
        </div>
      <!-- </div> -->
    </div>
  </div>
  <!-- <button -->
  <!--   type="button" -->
  <!--   hx-get="/api/v1/hello" -->
  <!--   hx-swap="innerHtml" -->
  <!--   class="rounded-md bg-indigo-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" -->
  <!-- > -->
  <!--   Say hello -->
  <!-- </button> -->
</div>
{% endblock %}

