<!-- use base -->
{% extends "layouts/base.html" %}
<!-- head: title -->
{% block title %}Login{% endblock %}
<!-- head: metadata + css -->
{% block head %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    document
      .getElementById("loginForm")
      .addEventListener("submit", function (event) {
        event.preventDefault(); // Prevent the default form submission

        // Get form data
        const formData = new FormData(this);
        const formDataJSON = {};
        formData.forEach(function (value, key) {
          formDataJSON[key] = value;
        });

        // Make a POST request with the form data as JSON
        fetch("/api/v1/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(formDataJSON),
        })
          .then((response) => {
            // Check if the response indicates a successful login
            if (response.ok) {
              // Redirect to the home page
              window.location.href = "/";
            } else {
              // Handle other responses if needed
              console.log("Login unsuccessful");
            }
          })
          .catch((error) => {
            // Handle errors here
            console.error("Error:", error);
          });
      });
  });
</script>
{% endblock %}
<!-- main body -->
{% block content %}
<body>
  <h2>Login Form</h2>

  <form id="loginForm" action="/api/v1/login" method="post" enctype="text/plain">
    <div class="container">
      <label for="username"><b>Username</b></label>
      <input
        type="text"
        placeholder="Enter Username"
        name="username"
        required
      />

      <label for="pwd"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="pwd" required />

      <button id="btnSubmit" class="loginbtn" type="submit">Login</button>
      <!-- remember me bool -->
      <!-- <label> -->
      <!--   <input type="checkbox" checked="checked" name="remember"> Remember me -->
      <!-- </label> -->
    </div>

    <div class="container">
      <button type="button" class="cancelbtn">Cancel</button>
      <a href="#"><button type="button" class="forgotbtn">Forgot password?</button></a>
    </div>
  </form>
</body>
{% endblock %}
