<!-- use base -->
{% extends "layouts/base.html" %}
<!-- head: title -->
{% block title %}Login{% endblock %}
<!-- head: metadata + css -->
{% block head %}
{% endblock %}
<!-- main body -->
{% block content %}
<body>
  <h2>Login Form</h2>

  <form
    id="loginForm"
    hx-post="/api/v1/login"
    hx-trigger="submit"
  >
    <div class="container">
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" id="username" name="username" required />

      <label for="pwd"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" id="password" name="pwd" required />

      <button type="btnSubmit" class="loginbtn" type="submit">Login</button>
    </div>

    <div class="container">
      <button type="button" class="cancelbtn">Cancel</button>
      <a href="#"><button type="button" class="forgotbtn">Forgot password?</button></a>
    </div>
  </form>
  <script src="assets/js/login.js"></script>
</body>
{% endblock %}
